.calculator {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: max-content;
  background-color: rgb(230, 228, 222);
  padding: 1rem;
  gap: 2rem;
}

.display {
  display: flex;
  flex-direction: column;
  color: white;
  width: 20rem;
  background-color: rgb(46, 45, 45);
  height: 5rem;
  justify-content: center;
  text-align: right;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-color: #8f54a0 transparent;
}

.display::-webkit-scrollbar {
  width: 1px;
  height: 0;
}

.display::-webkit-scrollbar-track {
  background: transparent;
}

.display::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 1px;
  border: 1px solid transparent;
}

.history,
.calculation {
  width: 100%;
  padding: 0.4rem 0.4rem;
  justify-self: center;
  vertical-align: middle;
}

.history {
  border-bottom: thin solid gray;
}

.calculation {
  font-size: 1.6rem;
}

.keypad {
  display: grid;
  width: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-gap: 0.6rem;
}

.button {
  height: 4.25rem;
  font-size: 1.6rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  border-bottom: 0.4rem solid rgba(0, 0, 0, 0.3);
}

.button:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.25rem rgb(133, 132, 132);
  transform: translateY(0.15rem);
}

.zero-btn {
  grid-column: 1 / span 2;
}

.operation-btn {
  background-color: rgb(250, 100, 0);
}
